[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==3.1.12"
pillow = "*"
static = "*"
pytz = "*"
requests = "*"

[requires]
python_version = "3.8"
