{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block container_start%}
{% endblock container_start%}

{% block content %}
<div class="flex flex-col">
    <div class="position-absolute h-75 w-full flex justify-center items-center pt-56">
        <div class="flex flex-col justify-center items-center oppa">
        <span class="text-5xl font-bold text-white">If you want to go far, </span>
        <span class="text-5xl font-bold text-white"> Go together! </span>
        </div>
    </div>
    <div>
        <!-- <h3 class="flex justify-center items-center">abce</h3> -->
        <video class="-mt-24" id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="static/mp4/Mins_dev.mp4">
        </video>
    </div>
    <section class="h-75vh bg-white flex justify-around">
        <div class="h-full flex flex-col justify-center">
            <span class="text-black text-5xl mb-5 font-bold">If you want to go far,<br /> Go together!</span>
            <span class="text-xl"style="color:black;">PPAP는 Peer to Peer study Assistant Program으로,<br />
                동료학습을 효울적으로, 즐겁게 할 수 있도록 도와주는 웹서비스입니다
            </span>
        </div>
        <div class="h-full flex flex-col justify-center">
            <img class="h-50vh w-50vh" src="static/img/peer.png">
        </div>
    </section>
    <section class="h-75vh tm-color2 flex justify-around">
        <div class="h-full flex flex-col justify-center">
            <img class="h-50vh w-50vh" src="static/img/todo.png">
        </div>
        <div class="h-full flex flex-col justify-center">
            <span class="text-black text-5xl mb-5 font-bold">STEP1. To-do List</span>
            <span class="text-black text-5xl mb-5 font-bold">Well begun, half done!</span>
            <span class="text-xl"style="color:black;">하루를 어떻게 계획하고 시작하느냐에 따라, 나머지 하루가 결정된다해도 과언이 아닙니다.<br />
            PPAP는 To-do List를 통해 오늘 할 일을 조망하며, 하루를 계획합니다.
            </span>
        </div>
    </section>
    <section class="h-75vh tm-color3 flex justify-around">
        <div class="h-full flex flex-col justify-center">
            <span class="text-black text-5xl mb-5 font-bold">STEP2. Timetable</span>
            <span class="text-black text-5xl mb-5 font-bold">Luck is the residue of planning.</span>
            <span class="text-xl"style="color:black;">시간관리 기법인 Flanklin System의 Top-down 방식에 기반하여,<br />
            To-do List의 계획들을 세분화한 후, 시간에 따라 분배하고 작성합니다.<br />
            나와 함께하는 동료가 어떤 계획을 세웠는지, 현재 어느 정도 계획을 달성했는지를 확인하며<br />
            자극을 받을 수도, 힘을 얻을 수도 있습니다.<br /><br />
            학습시간과 휴식시간의 적절한 분배를 위해, Timer는 남은 시간을 알려줍니다.
            </span>
        </div>
        <div class="h-full flex flex-col justify-center">
            <img class="h-50vh w-50vh" src="static/img/timetable.png">
        </div>
    </section>
    <section class="h-75vh tm-color4 flex justify-around">
        <div class="h-full flex flex-col justify-center">
            <img class="h-50vh w-50vh" src="static/img/feedback2.png">
        </div>
        <div class="h-full flex flex-col justify-center">
            <span class="text-black text-5xl mb-5 font-bold">STEP3. Feedback</span>
            <span class="text-black text-4xl font-bold">- Peter Drucker</span>
            <span class="text-black text-3xl mb-5 font-bold">"Use feedback analysis to identify your strengths!"</span>
            <span class="text-xl"style="color:black;">Feedback으로 하루를 돌아보는 것은, 자신을 찾고 성장시킬 수 있는 매우 효과적인 방법입니다.<br />
            PPAP의 Feedback은 동료가 작성한 Feedback을 확인하며 서로 힘을 주고 받을 수 있게 해줄뿐만 아니라,<br />
            Penalty 제도를 통해 동기부여를 받을 수 있는 시스템입니다.
            </span>
        </div>
    </section>
</div>
{% endblock content %}

{% block container_end %}
{% endblock container_end %}