{% load static %}

<nav class="navbar navbar-expand-xl h-5 z-10 bg-black opacity-75 position-fixed fixed-top">
    <div class="container h-100">
        <a class="navbar-brand" href="{% url 'core:home' %}">
            <img style="width:50px; height:auto;" class="rounded-circle" src="{% static 'img/Mins_Dev_Logo_Circle.png' %}" alt="Logo Image"><h1 class="tm-site-title mb-0">&nbsp;Min's Dev</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/study/todolist/' %}active{% endif %}" href="{% url 'todos:todolist' %}">
                        <i class="fas fa-clipboard-list"></i>
                        TodoList
                        {% comment %} <span class="sr-only">(current)</span> {% endcomment %}
                    </a>
                </li>
                {% comment %} <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        <span>
                            Reports <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Daily Report</a>
                        <a class="dropdown-item" href="#">Weekly Report</a>
                        <a class="dropdown-item" href="#">Yearly Report</a>
                    </div>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/study/timetable/' %}active{% endif %}" href="{% url 'todos:timetable' %}">
                        <i class="far fa-clock"></i>
                        Time Table
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/study/feedback/' %}active{% endif %}" href="{% url 'feedbacks:feedback' %}">
                        <i class="far fa-comments"></i>
                        Feedback
                    </a>
                </li>
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span>
                            Settings <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Billing</a>
                        <a class="dropdown-item" href="#">Customize</a>
                    </div>
                </li> {% endcomment %}
            </ul>
            <ul class="navbar-nav">
                {% comment %} <li class="nav-item">
                    <a class="nav-link d-block" href="login.html">
                        Admin, <b>Logout</b>
                    </a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                        <span>
                            User Menu <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"> {% endcomment %}
                        {% comment %} <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Log In</a>
                        <a class="dropdown-item" href="#">Sign Up</a> {% endcomment %}
                        {% if user.is_authenticated %}
                            <li	class="nav-item">
                                <a class="nav-link" href="{{user.get_absolute_url}}">Profile</a>
                            </li>
                            <li	class="nav-item">
                                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                            </li>
                        {% else %}
                            <li	class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                            </li>
                            <li	class="nav-item">
                                <a class="nav-link" href="{% url 'users:signup' %}">Sign up</a>
                            </li>
                        {% endif %}
                    {% comment %} </div> {% endcomment %}
                {% comment %} </li> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>