{% extends "base.html" %}

{% block base_main %}
{% endblock base_main %}

{% block content%}
    <div>
        {% for object in todo_list %}
        <form method="POST" class="">
        {% csrf_token %}
            <div class="my-2">
                <input type="submit"/>
                <span class="mx-1 bg-white h-full"> {{object.contents}}</span>
                <button class="btn bg-red-500 text-white mb-3" type="submit" name="del-todo" value="{{object.id}}"><i class="fas fa-trash-alt"></i></button>
            </div>
        </form>
        {% endfor %}
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" name="add-todo">추가</button>
        </form>
        <input type="button" value="+"/>
    </div>
{% endblock %}