{% extends "base.html" %}

{% block base_main %}
{% endblock base_main %}

{% block page_title %}
    Todos
{% endblock page_title %}

{% block content%}
<div class="row tm-content-row mt-5">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block overflow-auto rounded-lg">
        <h2 class="tm-block-title">Calendar</h2>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <h2 class="tm-block-title">Today's TodoList</h2>
            <div class="container flex flex-col">
                {% for object in todo_list %}
                <form method="POST" class="">
                {% csrf_token %}
                    <div class="mb-2">
                        <span><i class="fas fa-arrow-circle-right"></i></span>
                        <span class="mx-3 my-1 h-full overflow-auto"> {{object.contents}}</span>
                        <button class="w-8 h-8 rounded-full bg-red-500 text-white" type="submit" name="del-todo" value="{{object.id}}"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </form>
                {% endfor %}
            </div>
            <div class="">
                <form method="POST" class="flex">
                    {% csrf_token %}
                    <div class="w-full h-12">
                        {{form}}
                    </div>
                    <span class="flex my-auto">
                        <button type="submit" name="add-todo" value="one" class="mx-3 my-2 w-12 h-12 rounded-full bg-red-500 text-white text-center"><i class="fas fa-plus text-xl"></i></button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}